header {
    background: rgb(211, 208, 8);
    margin-bottom: 30px;
}

h1{
    color: rgb(5, 0, 0);
    text-shadow: -1px 0 rgb(253, 3, 3), 0 2px rgb(255, 2, 2), 2px 0 rgb(253, 5, 5), 0 -1px rgb(248, 8, 8);
    text-align: center;
    font-size: 85px;
    font-family: 'Slabo 27px', serif;
    margin-top: 100px;
    padding-top: 40px;
    padding-bottom: 30px;
    font-weight: bolder;

}

.instructions {
    font-size: 35px;
    text-align: center;
    padding-bottom: 70px;
    font-weight: bold;
}