.img-container {
    width: 155px;
    height: 155px;
    box-shadow: 0 3px 6px rgb(252, 251, 251), 0 3px 6px rgb(236, 234, 234);
    border: 3px solid rgb(253, 237, 7);
  }

.card {
    width: 155px;
    height: 155px;
    margin: 15px 45px;
}  

@media only screen and (max-width: 360px) {
  .img-container {
    width: 95px;
    height: 95px;
  }
  .card {
    width: 100px;
    height: 100px;
    margin-left: 20px;
    margin-top: 20px;
    table-layout: fixed;
    }  
  .images {
    width: 90px;
    height: 90px;
    table-layout: fixed;
  }
  
}